<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="bank">
      <h2 data-cy="bankDetailsHeading"><span jhiTranslate="jhipsterSampleApplicationApp.bank.detail.title">Bank</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ bank.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.bank.bankNumber">Bank Number</span></dt>
        <dd>
          <span>{{ bank.bankNumber }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.bank.bankAccount">Bank Account</span></dt>
        <dd>
          <span *ngFor="let bankAccount of bank.bankAccounts; let last = last">
            <a [routerLink]="['/bank-account-my-suffix', bankAccount?.id, 'view']">{{ bankAccount.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/bank', bank.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
