<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="silverBadge">
      <h2 data-cy="silverBadgeDetailsHeading">
        <span jhiTranslate="jhipsterSampleApplicationApp.silverBadge.detail.title">Silver Badge</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ silverBadge.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.silverBadge.name">Name</span></dt>
        <dd>
          <span>{{ silverBadge.name }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.silverBadge.iden">Iden</span></dt>
        <dd>
          <div *ngIf="silverBadge.iden">
            <a [routerLink]="['/identifier', silverBadge.iden?.id, 'view']">{{ silverBadge.iden?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/silver-badge', silverBadge.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
