<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="job">
      <h2 data-cy="jobDetailsHeading"><span jhiTranslate="jhipsterSampleApplicationApp.job.detail.title">Job</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ job.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.job.title">Title</span></dt>
        <dd>
          <span>{{ job.title }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.job.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterSampleApplicationApp.JobType.' + job.type }}">{{ job.type }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.job.minSalary">Min Salary</span></dt>
        <dd>
          <span>{{ job.minSalary }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.job.maxSalary">Max Salary</span></dt>
        <dd>
          <span>{{ job.maxSalary }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.job.chore">Chore</span></dt>
        <dd>
          <span *ngFor="let chore of job.chores; let last = last">
            <a [routerLink]="['/task', chore?.id, 'view']">{{ chore.title }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.job.emp">Emp</span></dt>
        <dd>
          <div *ngIf="job.emp">
            <a [routerLink]="['/employee', job.emp?.id, 'view']">{{ job.emp?.lastName }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/job', job.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
