<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="goldenBadge">
      <h2 data-cy="goldenBadgeDetailsHeading">
        <span jhiTranslate="jhipsterSampleApplicationApp.goldenBadge.detail.title">Golden Badge</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ goldenBadge.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.goldenBadge.name">Name</span></dt>
        <dd>
          <span>{{ goldenBadge.name }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.goldenBadge.iden">Iden</span></dt>
        <dd>
          <div *ngIf="goldenBadge.iden">
            <a [routerLink]="['/identifier', goldenBadge.iden?.id, 'view']">{{ goldenBadge.iden?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/golden-badge', goldenBadge.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
