<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="jobHistory">
      <h2 data-cy="jobHistoryDetailsHeading">
        <span jhiTranslate="jhipsterSampleApplicationApp.jobHistory.detail.title">Job History</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ jobHistory.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jobHistory.startDate">Start Date</span></dt>
        <dd>
          <span>{{ jobHistory.startDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jobHistory.endDate">End Date</span></dt>
        <dd>
          <span>{{ jobHistory.endDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jobHistory.language">Language</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterSampleApplicationApp.Language.' + jobHistory.language }}">{{ jobHistory.language }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jobHistory.department">Department</span></dt>
        <dd>
          <span *ngFor="let department of jobHistory.departments; let last = last">
            <a [routerLink]="['/department', department?.id, 'view']">{{ department.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jobHistory.job">Job</span></dt>
        <dd>
          <span *ngFor="let job of jobHistory.jobs; let last = last">
            <a [routerLink]="['/job', job?.id, 'view']">{{ job.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.jobHistory.emp">Emp</span></dt>
        <dd>
          <span *ngFor="let emp of jobHistory.emps; let last = last">
            <a [routerLink]="['/employee', emp?.id, 'view']">{{ emp.firstName }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/job-history', jobHistory.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
